RewriteEngine On

RewriteRule docs/([a-z0-9_]+)$ docs/index.php?action=$1 [L,QSA]

RewriteRule ^buy-support\.php donate.php [R]
RewriteRule ^docs\.php docs [R]
RewriteRule ^docs-debugger\.php docs/remote [R]
RewriteRule ^docs-faq\.php docs/faq [R]
RewriteRule ^docs-functions\.php docs [R]
RewriteRule ^docs-profiling\.php docs/profiler [R]
RewriteRule ^docs-profiling2\.php docs/profiler [R]
RewriteRule ^docs-settings\.php docs [R]
RewriteRule ^donate\.php support.php [R]
RewriteRule ^find-binary\.php wizard.php [R]
RewriteRule ^install\.php docs/install.php [R]

php_value default_charset utf-8

