@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/IBMPlexSans-Regular-Latin1.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/IBMPlexSans-Medium-Latin1.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/IBMPlexSans-SemiBold-Latin1.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/IBMPlexSans-Bold-Latin1.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/IBMPlexSans-RegularItalic-Latin1.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/IBMPlexSans-MediumItalic-Latin1.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/IBMPlexSans-SemiBoldItalic-Latin1.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/IBMPlexSans-BoldItalic-Latin1.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/IBMPlexMono-Regular-Latin1.woff2') format('woff2');
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI, 'IBM Plex Sans',sans-serif;
	text-rendering: optimizeLegibility;
    text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
}

p, ol, ul {
    line-height: 1.5em;
}

p.intro {
	font-size: larger;
	font-style: italic;
}

a {
	color: #317E1E;
	text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a {
	font-size: smaller;
	color: #999;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
	font-size: smaller;
	color: #317E1E;
	text-decoration: none;
}

dl.features dt {
	margin-left: 0;
	padding-bottom: 0.5em;
}

dl.features dd {
	margin-left: 20px;
}

dl.features dt a {
	font-size: initial;
	color: #317E1E;
}

dl.features dt a:hover {
	text-decoration: underline;
}

dt a:hover {
	color: #317E1E;
	text-decoration: none;
}

p a, ul a {
	font-weight: bold;
}

p.note {
	border-left: #317e1e 3px solid;
	padding-left: 0.5em;
	background-color: #d5f3cd;
}

p.warning {
	border-left: #cc0000 3px solid;
	padding-left: 0.5em;
	background-color: #fec1c1;
}

a:hover {
	text-decoration: underline;
}

nav {
	background-color: #A5D471;
	margin-bottom: 40px;
	box-shadow: 0 -4px 0 inset #00000029;
}

nav > div {
	position: relative;
}

nav > div:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: -65px;

	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4ODUiIGhlaWdodD0iMzE5IiB2aWV3Qm94PSIwIDAgODg1IDMxOSI+PGcgZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNNTY0LjE3LjVMNzI0IDE2MS40OSA1NjQuMTcgMzE4LjVILjQ2TDE2NyAxNTguODcuNDYuNXoiIG9wYWNpdHk9Ii40NCIvPjxwYXRoIGQ9Ik04ODQuOC41TDcyNCAxNjEuNDkgNTY0LjE3LjV6TTg4NC45IDMxOC41TDcyNCAxNjEuNWwtMTU5Ljk1IDE1N3oiIG9wYWNpdHk9Ii4yNSIvPjwvZz48L3N2Zz4=");
	background-repeat: no-repeat;
	background-size: contain;
}

@media all and (max-device-width: 640px) {
	nav > div:before {
		display: none;
	}
}

nav h1 {
	position: relative;
	z-index: 2;
	display: inline-block;
	margin: 25px 0;
}

@media all and (max-device-width: 640px) {
	nav h1 {
		margin: 0 -20px;
	    display: block;
	    padding: 20px 30px 20px;
	    background: #cde7b1;
	}
}

nav h1 svg {
    width: 130px;
    height: 67px;
}

nav ul {
	position: relative;
    z-index: 2;
    display: inline-block;
    margin: 30px 0 0 100px;
    vertical-align: top;
    padding: 0;
}

nav ul li {
	display: inline-block;
    padding: 20px;
}

nav ul li a {
	text-decoration: none;
    font-weight: bold;
    color: #2c611f;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

@media all and (max-device-width: 640px) {
	nav ul {
		margin: 10px 0;
	}

	nav ul li {
		display: block;
		padding: 5px;
	}

	nav ul li a {
		display: block;
		padding: 10px;
	}
}

.content_width {
	margin: 0 auto;
	max-width: 1024px;
	padding: 0 20px;
	box-sizing: border-box;
}

#support {
	text-align: center;
	width: max-content;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	line-height: 1.5em;
	border-top: 1px solid #317E1E;
	border-bottom: 1px solid #317E1E;
}

#support a {
	font-weight: bold;
}

main {
	overflow: hidden;
}

main h1 {
	margin: 0 0 1em 0;
}

main h2, main h3 {
	font-weight: 600;
	margin: 1em 0 1em;
}

pre, code {
	line-height: 1.5em;
    font-family: 'IBM Plex Mono', monospace;
}

pre, .example > code {
	padding: 20px;
    background: #eee;
    display: block;
    font-size: 14px;
    overflow: auto;
}

.example > code pre, pre pre {
	padding: 0;
	margin: 0;
}

p code, li code {
	background: #eee;
	display: inline-block;
	padding: 0 0.3em;
}

p.warning code {
	background: #ff9090;
}

h3 + p {
	margin-top: 0;
}

h3 + code {
	margin-top: 1em;
}

dt {
	margin-left: 20px;
	margin-top: 10px;
	font-weight: bold;
}
dd {
	margin-left: 40px;
	margin-bottom: 0px;
}

main p, main ul, main ol {
	max-width: 600px;
}

main ul.yui-nav {
	max-width: initial;
}

main p code, main li code, main td code {
	font-size: 15px;
}

footer {
	text-align: center;
	padding: 40px 20px !important;
	color: #999;
}

div.supported_languages span:not(:first-child)::before {
	content: " | ";
}

.front_intro {
	width: 60%;
	float: left;
}

.front_intro ul {
	margin: 0;
	padding: 0;
	margin-left: 0;
    -webkit-padding-start: 20px;
    padding-inline-start: 20px;
}

.front_intro ul li {
	margin: 20px 0;
}

.front_supporters {
	width: 100%;
	float: left;
}

.front_supporters p {
    max-width: 100%;
}

.front_announcements {
	margin-left: 5%;
	width: 35%;
	float: left;
}

.front_announcements h3 {
	margin-top: 1em;
}

.front_announcements ul, .doc_section .content ul {
	margin: 0;
	padding: 0;
}

.front_announcements ul li {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

.doc_section .content ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.related_content span.type img {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.content span.type img {
	width: 48px;
	height: 48px;
	vertical-align: middle;
}

@media all and (max-device-width: 640px) {
	.front_intro, .front_announcements, .front_supporters {
		float: none;
		width: auto;
	}
}

.functions, .settings {
	margin: 3em 0;
}

.doc_function, .doc_setting {
	margin: 2em 0;
}

.doc_setting h3,
.doc_function h3 {
	margin-bottom: 0;
}

.support_options {
	overflow: hidden;
	margin: 3em 0;

	display: flex;
	justify-content: space-between;
}

.support_options .option {
    width: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@media all and (max-device-width: 640px) {
	.support_options {
		display: block;
	}
	.support_options .option {
		width: 100%;
		display: block;
		margin-bottom: 2em;
	}
}

.support_options h2 {
	background: #BBDE94;
	padding: 1em;
	margin: 0;
	border-top: 3px solid #317E1E;
	text-align: center;
}

.support_options .option:first-child h2 {
	background-color: #e8e8e8;
    border-top-color: #a9a9a9;
}

.support_options h3, .support_options h4 {
	text-align: center;

	padding: 1em;
	margin: 0;
	border-bottom: 1px solid #CCC;
}

.support_options li {
	list-style: none;
	margin: 0;
	padding: 0 0 0 20px;
	position: relative;
}

.support_options li:not(.notick):before {
	content: '✔';
	display: block;
	position: absolute;
	left: 0;
	color: #317E1E;
}

.support_options hr {
	border: 1px solid #CCC;
}

.support_options ul {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

.support_options .contact {
	border-top: 2px solid #CCC;
	margin-top: auto;
	text-align: center;
	padding: 1em;
	min-height: 40px;
	font-weight: bold;
}

.support_options .contact {
	background: #e5f5d3;
    padding: 1em;
    border: 2px solid #307e1e;
    text-align: center;
    border-left: 0;
    border-right: 0;
}

.support_options .option:first-child .contact {
	background-color: #e8e8e8;
    border-color: #a9a9a9;
    font-weight: bold;
}

.terms p {
	max-width: 100%;
	color: #555;
}

.supporters {
	max-width: initial;
	margin: 1em 0;
	padding: 0 1em;
}

.supporters li {
    list-style: none;
    display: inline-block;
    border: 3px outset #9fc596;
    margin: 0 1em 1em 0;
}

.supporters li a {
    display: inline-block;
    padding: .25em .5em;
    background-color: #e5f5d5;
}

.front_releases {
	width: 100%;
	float: left;
	margin-top: 0em;
}

.front_releases ul {
    max-width: 100%;
}


.releases {
	max-width: initial;
	margin: 1em 0;
	padding: 0 1em;
}

.releases li {
    list-style: none;
    display: inline-block;
    border: 1px outset #9fc596;
    margin: 0 0.3em 0.3em 0;
}

.releases li a {
    display: inline-block;
    padding: .25em .5em;
    background-color: #e5f5d5;
}

div.report {}

div.funding { width: 100%; height: 20px; color: black; background-color: white; border: 1px solid black; margin: 1em;}
div.patreon { height: 100%; float: left; color: #44AF56; background-color: #44AF56;}
div.github  { height: 100%; float: left; color: #44AF56; background-color: #69BF78;}
div.pro     { height: 100%; float: left; color: #69BF78; background-color: #8FCF9A;}
div.business{ height: 100%; float: left; color: #8FCF9A; background-color: #69BF78;}
div.others  { height: 100%; float: left; color: #B4DFBB; background-color: #B4DFBB;}
div.comment { height: 100%; float: right; margin-right: 2px;}

div.spend { width: 100%; height: 20px; color: black; background-color: white; border: 1px solid black; margin: 1em;}
div.type-bug     { height: 100%; float: left; color: white; background-color: #0121AF;}
div.type-docs    { height: 100%; float: left; color: white; background-color: #1A3DB7;}
div.type-generic { height: 100%; float: left; color: white; background-color: #3447BF;}
div.type-php     { height: 100%; float: left; color: white; background-color: #1A3DB7;}
div.type-release { height: 100%; float: left; color: white; background-color: #677ACF;}
div.type-test    { height: 100%; float: left; color: white; background-color: #4D64C7;}
div.type-website { height: 100%; float: left; color: black; background-color: #99A6DF;}
div.type-xdebug3 { height: 100%; float: left; color: black; background-color: #8090D7;}

div.type-talk    { height: 100%; float: left; color: white; background-color: #0121AF;}
div.type-support { height: 100%; float: left; color: white; background-color: #3447BF;}
div.type-ci      { height: 100%; float: left; color: white; background-color: #1A3DB7;}
/*
div.type-release { height: 100%; float: left; color: white; background-color: #677ACF;}
div.type-test    { height: 100%; float: left; color: white; background-color: #4D64C7;}
div.type-website { height: 100%; float: left; color: black; background-color: #99A6DF;}
div.type-xdebug3 { height: 100%; float: left; color: black; background-color: #8090D7;}
*/
table.log { width: 100%; margin: 1em; line-height: 1; }
table.log td { vertical-align: middle; padding: 2px; }
table.log tr td.day, table.log tr th.day { text-align: center; margin-right: 0.5em; }
table.log tr td.type, table.log tr th.type { text-align: center; }
table.log tr td.type div { border-radius: 5px; padding: 0.25em; text-align: center; float: none; }
table.log tr td.description, table.log tr th.description { width: 100%; }
table.log tr td.hours, table.log tr th.hours { text-align: right; }

table.options tr td { border-bottom: 1px solid #ddd; vertical-align: top; margin: 1em; }

table.table, table.table-inner {
	margin: 0px;
	padding: 0px;
}
table.table, table.table-inner, table.ci {
	border: solid #777;
	border-width: thin;
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}
table.table-inner {
	width: 100%;
	margin: 10px;
}
table.table th, table.ci th {
	border: solid #777;
	padding: 3px;
	border-width: thin;
	text-align: left;
}
table.table td, table.ci td {
	border: solid #aaa;
	padding: 3px;
	border-width: thin;
}

table.ci {
	width: 100%;
}

table.ci th, table.ci td {
	text-align: center;
}

table.ci td a.err {
	color: red;
}

table.ci td a.bf {
	color: purple;
}

table.ci tr td.log {
	text-align: left; overflow-wrap: anywhere;
}

table.ci tr td pre.log {
	font-size: 0.66em; text-align: left;
}

pre.log {
	white-space: pre-wrap;
}

pre.shell {
    color: lightgrey;
    background-color: black;
}

table.versions { width: 100%; border: 1px solid black; border-collapse: collapse; }
table.versions thead th { text-align: center; }
table.versions thead tr.xdebugversion th { background-color: #ff7f7f; }
table.versions thead tr.xdebugversion th.legacy { background-color: #ffbc42; }
table.versions thead tr.xdebugversion th.supported { background-color: green; color: white; }
table.versions thead tr.xdebugversion th.future { background-color: lightblue; color: black; }
table.versions th { text-align: center; border: 1px solid grey; }
table.versions tbody tr th { background-color: #ff7f7f; }
table.versions tbody tr th.legacy { background-color: #ffbc42; }
table.versions tbody tr th.supported { background-color: green; color: white; }
table.versions tbody tr th.future { background-color: lightblue; color: black; }
table.versions td { text-align: center; border: 1px solid grey; color: #ff7f7f; }
table.versions td.legacy { text-align: center; border: 1px solid grey; color: #ffbc42; }
table.versions td.supported { text-align: center; border: 1px solid grey; color: green; }
table.versions td.future { text-align: center; border: 1px solid grey; color: lightblue; }
div.opcache-0, div.opcache-1 { font-size: small; color: white; border-radius: 10px; }
div.opcache-0 { background-color: red }
div.opcache-1 { background-color: green }
